<!DOCTYPE html>
<html>
<head>
	<title></title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
	<body>
			{% include 'base.html' %}
			<div class="container">
			<h1>{{info[-2]}} {{info[-1]}}</h1><br>
			<p class="test-secondary">Username : {{info[0]}}</p>
			<p class="test-secondary">Email : {{info[2]}}</p>
		</div>
	</body>
</html>